.page {
  min-width: 1100px;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif; /* Fixed the font-family name to "Inter" */
  font-size: 16px;
  line-height: 20px;
}

p {
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: 400;
}
